body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}
/* nav starts here*/
nav {
    float: right;
}

nav ul {
    list-style: none;
    margin-top: 0;
}

nav li{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
/* nav ends here*/

div {
    float: left;
    padding-left: 5%;
}

#cougar {
    background: #B26219;
    clear: both;
    padding: 50px;
    overflow: auto;
}

#lion {
    background: #FFBD82;
    clear: both;
    padding: 50px;
    overflow: auto;
}

#tiger {
    background: #FFD5AE;
    clear: both;
    padding: 50px;
    overflow: auto;
}

h1 {
    display: inline-block;
    margin: 0;
}
header {
    margin: 20px;
    padding-bottom: 15px;
}

article {
    color: #000;
    width: 600px;
    padding: 30px 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 50px auto;
    float: right;
}



img {
    display: block;
    margin: auto;
}

footer{
    text-align: center;
    clear: both;
    padding: 20px;
}
/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
